
:root {
    --fondJoueur: green;
    --fondCpu: red;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fondFormulaire {
    position: fixed;
    top: 0;
    background-color: #272635;
    width: 100vw;
    height: 100vh;
}

.boxFormulaire {
    width: 280px;
    border-radius: 20px;
    background-color: #F0BCD4;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.none {
    display: none;
}

.formulaire {
    padding: 20px;
}

p {
    margin: 10px 0;
}

.name {
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.radio {
    display:flex;
    justify-content: space-around;
}

.choix {
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    appearance: none;
    padding: 10px;
}

.jouer {
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
}

.boxGame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.joueur {
    height: 100%;
    width: 50%;
    background-color: var(--fondJoueur);
    position: absolute;
}

.cpu {
    height: 100%;
    width: 50%;
    background-color: var(--fondCpu);
    position: absolute;
    right: 0;
}

.nomJoueur, .nomCpu {
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.resultat {
    position: absolute;
    font-size: 50px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.btnRejouer {
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 160px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: context-menu;
}

.choixJoueur, .choixCpu {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 150px;
    transform: translate(-50%, -50%);
}